<nav class="uk-light" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="{{ site.url }}{{ site.baseurl }}">
            <span>
                <img class="image-rounded nav-logo" src="{{ site.baseurl }}/favicon.ico" alt="Mr. Yoda Yoda" uk-img>
            </span>
            Operating Systems
        </a>
    </div>

    <div class="uk-navbar-right">
        <a href="#links" class="uk-navbar-item" uk-icon="icon: table" uk-toggle></a>
    </div>
</nav>

<div id="links" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <br>

        <!-- Header -->
        <div class="uk-nav-center">
            <img class="image-rounded" src="{{ site.baseurl }}/favicon.ico" alt="Mr. Yoda Yoda" uk-img>
            <a href="{{ site.url }}{{ site.baseurl }}" class="uk-navbar-item uk-logo">Operating Systems</a>
        </div>


        <!-- Social Icons -->
        <ul class="uk-iconnav">
            <li class="uk-align-center"><a href="{{ site.github.repository_url }}" uk-icon="icon: github"></a></li>
        </ul>

        

        <!-- Page List -->
        <ul class="uk-nav">
            <li class="uk-nav-header">Pages</li>
            {% for page in site.pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>

        <!-- Links List (Sourced from _config.yml) -->
        <ul class="uk-nav">
            <li class="uk-nav-header">Links</li>
            {% for link in site.links %}
                <li><a href="{{ link.url }}">{{ link.name }}</a></li>
            {% endfor %}
        </ul>

    </div>
</div>