<nav class="uk-light" uk-navbar>
    <div class="uk-navbar-left">
        <a href="#links" class="uk-navbar-item" uk-icon="icon: table" uk-toggle></a>
        <a class="uk-navbar-item uk-logo" href="{{ site.url }}{{ site.baseurl }}">
            <span>
                <img class="image-rounded nav-logo" src="{{ site.baseurl }}/favicon.ico" alt="Mr. Yoda Yoda" uk-img>
            </span>
            Operating Systems
        </a>
    </div>
</nav>

<div id="links" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <br>

        <!-- Header -->
        <div class="uk-nav-center">
            <img class="image-rounded" src="{{ site.baseurl }}/favicon.ico" alt="Mr. Yoda Yoda" uk-img>
            <a href="{{ site.url }}{{ site.baseurl }}" class="uk-navbar-item uk-logo">Operating Systems</a>
        </div>


        <!-- Social Icons -->
        <ul class="uk-iconnav uk-flex uk-flex-center">
            <li><a href="{{ site.github.repository_url }}" uk-icon="icon: github"></a></li>
            <li><a href="mailto:{{ site.email }}" uk-icon="icon: mail"></a></li>
        </ul>

        

        <!-- Page List -->
        <!-- ONLY THOSE WITH include_in_navbar: true WILL BE ADDED-->
        <ul class="uk-nav">
            <li class="uk-nav-header">Pages</li>
            {% for page in site.pages %}
                {% if page.include_in_navbar == true %}
                    <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <!-- Links List (Sourced from _config.yml) -->
        <ul class="uk-nav">
            <li class="uk-nav-header">Links</li>
            {% for link in site.links %}
                <li><a href="{{ link.url }}">{{ link.name }}</a></li>
            {% endfor %}
        </ul>

    </div>
</div>