<nav class="uk-light" uk-navbar>
    <div class="uk-navbar-left">
        <a href="#links" class="uk-navbar-item" uk-icon="icon: table" uk-toggle></a>
        <a class="uk-navbar-item uk-logo" href="{{ '/' | absolute_url }}">
            <span>
                <img class="image-rounded nav-logo" src="{{ '/favicon.ico' | relative_url }}" alt="Mr. Yoda Yoda" uk-img>
            </span>
            Operating Systems
        </a>
    </div>
</nav>

<div id="links" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <br>

        <!-- Header -->
        <div class="uk-nav-center">
            <img class="image-rounded" src="{{ '/favicon.ico' | relative_url }}" alt="Mr. Yoda Yoda" uk-img>
            <a href="{{ '/' | absolute_url }}" class="uk-navbar-item uk-logo">Operating Systems</a>
        </div>


        <!-- Social Icons -->
        <ul class="uk-iconnav uk-flex uk-flex-center">
            <li><a href="{{ site.github.repository_url }}" uk-icon="icon: github"></a></li>
            <li><a href="mailto:{{ site.email }}" uk-icon="icon: mail"></a></li>
        </ul>

        

        <!-- Page List (for internal links) -->
        <ul class="uk-nav">
            <li class="uk-nav-header">Pages</li>
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/000.html' | relative_url }}">Listings</a></li>
            <li><a href="{{ '/links/' | relative_url }}">Links</a></li>
            <li><a href="{{ '/tips/' | relative_url }}">Tips</a></li>
            <li><a href="{{ site.github.zip_url }}">ZIP File</a></li>
            <li><a href="{{ site.github.tar_url }}">Tarball</a></li>
            <li><a href="{{ site.github.repository_url }}">GitHub</a></li>
            <li><a href="{{ '/about/' | relative_url }}">About</a></li>
            <li><a href="{{ site.github.url }}">Web</a></li>
        </ul>

        <!-- Links List (Sourced from _config.yml) -->
        <ul class="uk-nav">
            <li class="uk-nav-header">Links</li>
            <li><a href="https://scele.cs.ui.ac.id/">SCeLE</a></li>
        </ul>

    </div>
</div>